@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Syncopate:wght@400;700&display=swap");
body, html {
  margin: 0;
  padding: 0;
  background: #36393e;
  background: radial-gradient(circle, #36393e 0%, #4b473c 100%);
}

img {
  width: 100%;
  height: 100%;
}

/*font-family: 'Oswald', sans-serif;

font-family: 'Syncopate', sans-serif;*/
p, a, li {
  font-size: x-large;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: #ffffff;
}

a {
  font-weight: 700;
}

h1, h2 {
  font-family: 'Syncopate', sans-serif;
  color: #ffffff;
  text-align: center;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7289da;
  color: #ffffff;
}

@media (max-width: 650px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    height: 15rem;
  }
}

.header__photo {
  width: 8rem;
  height: 8rem;
  padding: 1rem;
  border-radius: 50%;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.header__photo:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.header__title {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__navbar {
  background-color: #7289da;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.header__navbar ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
}

.tabcontent {
  display: none;
  width: 100%;
  height: 100%;
}

.footer {
  background-color: #7289da;
  padding: 1rem;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__link-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.footer__link-media a {
  width: 5rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link-media a img {
  width: 100%;
  height: 100%;
}

.projects {
  height: 30rem;
  max-height: 100%;
  width: 100%;
  max-width: 30rem;
  margin: 2rem;
  -webkit-transition: 200ms;
  transition: 200ms;
  background-color: #5a5f67;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 500px) {
  .projects {
    width: 100%;
    margin: 0.5rem;
  }
}

.projects__photo {
  height: auto;
  background-color: #424549;
}

.projects__photo img {
  width: 100%;
}

.projects__title {
  width: 100%;
  height: auto;
  text-align: flex-start;
  background-color: #7289da;
}

.projects__title h1 {
  margin: 0;
  padding-left: 1rem;
}

.projects__description {
  min-height: 6rem;
  max-height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__description-texte {
  padding: 1rem 1rem 1rem 1rem;
  margin: 0;
}

.projects:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.projects a {
  position: relative;
  bottom: 0;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.about {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.about__me {
  padding: 1rem;
}

.about__me h1 {
  font-size: xxx-large;
}

.about__me p {
  text-align: justify;
}

.about__photo {
  width: 40%;
}

.about__photo img {
  width: auto;
  height: 30rem;
  image-rendering: optimizeSpeed;
}

.about__skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4e5259;
  margin: 1rem;
  border-radius: 1rem;
}

@media (max-width: 1000px) {
  .about__skill {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.about__skill-HTML, .about__skill-CSS, .about__skill-JSCRIPT {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  height: 20rem;
  padding: 1rem;
}

@media (max-width: 1000px) {
  .about__skill-HTML, .about__skill-CSS, .about__skill-JSCRIPT {
    width: 80%;
    height: 5rem;
  }
}

.about__skill-HTML img, .about__skill-CSS img, .about__skill-JSCRIPT img {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
}

.about__skill-HTML--bartemplate, .about__skill-CSS--bartemplate, .about__skill-JSCRIPT--bartemplate {
  height: 1rem;
  width: 100%;
  background-color: blue;
}

.about__skill-HTML--bartemplate, .about__skill-HTML--bar, .about__skill-CSS--bartemplate, .about__skill-CSS--bar, .about__skill-JSCRIPT--bartemplate, .about__skill-JSCRIPT--bar {
  border-radius: 1rem;
}

.about__skill-HTML--bar {
  position: relative;
  height: 1rem;
  width: 60%;
  background-color: brown;
}

.about__skill-CSS--bar {
  position: relative;
  height: 1rem;
  width: 70%;
  background-color: brown;
}

.about__skill-JSCRIPT--bar {
  position: relative;
  height: 1rem;
  width: 40%;
  background-color: brown;
}

.reveal {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: 1s;
  transition: 1s;
}

.reveal.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.button {
  display: block;
  width: auto;
  height: auto;
  padding: 0.5rem 1rem 0.5rem 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  background-color: #fdbb2d;
  color: #ffffff;
  border-radius: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-shadow: 0rem 0rem 10rem black;
          box-shadow: 0rem 0rem 10rem black;
  cursor: pointer;
}

.button:hover {
  background-color: #fdc346;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 1000px) {
  .button {
    font-size: medium;
  }
}
/*# sourceMappingURL=main.css.map */