$color-text1: #ffffff;
$color-text2: #000000;

$color-primary: #7289da;
$color-secondary: #424549;
$color-background: #36393e;
$color-details: #fdbb2d;
$color-wth: #000000;

$color-content-bg: lighten($color: $color-background, $amount: 15);

$media-query: 1000px;